@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
#logo{
    display: block;
    max-width:100px;
    max-height:95px;
    width: auto;
    height: auto;
}
body{
    background-color: rgb(0, 0, 0);

}
#particles-js{
    position: fixed;
    top: 0%;
    z-index: -30;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.733) !important;
    color: black !important;
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
#particles-js{
    position: fixed;
    top: 0%;
    z-index: -30;
    width: 100%;
}
*{
    transition: all 0.2s ease-in-out;
}
.nav-item{
    color: white !important;
}
#demo{
    color: red;
    font-size: 90px;
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
.fa-calendar-times{
    font-size: 90px;
    color: rgb(255, 0, 0);
    margin-right: 10px;
}
.nav-item:hover{
    color: red !important;
}
.borderWhite{
    border: white 2px solid;
}
.register{
    width: 200px;
}
.btn-outline-danger:hover{
    background-color: red !important;
}
.wow {
    visibility: hidden;
 }
.description{
    margin-top: 250px;
    color: black;
    padding: 20px;
} 
.input{
    display: inline-block;
    border-radius: 50px;
    border: none;
    width: 300px;
    height: 50px;
    margin-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.3s ease-out;
    font-size: 16px;
    background: white;
    color: black;
    border:red 2px solid;
}
.textarea{
    font-size: 16px;
    background: white;
    color: black;
    border:red 2px solid;
    transition: none !important;
    width: 300px;
    height: 50px;
}
.input:focus{
    outline: none;
    width: 320px;
}
.textarea:focus{
    outline: none;
}
.bg{
    background-color: red;
}
.carousel-control-prev-icon{
    padding: 20px; 
}
*{
    transition: all 0.5s ease-in-out;
}
.center{
    margin-top: 100px;
    width: 100%;
}
.center .img{
    width: 460px;
    margin-right: 20px;
}
.next{
    background: transparent;
    display: inline-block;
    color: white;
    float: right;
    margin-right:20px; 
    font-size: 20px;
    position: relative;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.next div{
    position: absolute;
    top: 0px;
    left: 0px;
    border: solid rgb(163, 12, 12) 2px;
    width: 100%;
    height: 100%; 
}
.prev div{
    position: absolute;
    top: 0px;
    left: 0px;
    border: solid rgb(163, 12, 12) 2px;
    width: 100%;
    height: 100%; 
}
.prev{
    background: transparent;
    display: inline-block;
    color: white;
    margin-left:20px; 
    font-size: 20px;
    position: relative;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.button-animation{
    z-index: 10;
}
.button-animation:hover{
    transform: translate(5px,-5px);
}
.button-animation2:hover{
    transform: translate(-5px,-5px) !important;
}
.img-name{
    color: white;
    text-align: center;
    padding: 10px;
}